@charset "UTF-8";

// メディアクエリ用
$lpc: 1440px; //大き目pc
$pc: 1024px; // PC, iPad Pro
$tab: 768px; // タブレット
$sp: 480px; // 6 ~ X
$se: 340px; //SE

@mixin lpc {
  @media (max-width: ($lpc)) {
    @content;
  }
}
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin se {
  @media (max-width: ($se)) {
    @content;
  }
}

$EngFont: 'Montserrat', "century gothic", "arial light", sans-serif;
$JapFont: 'Noto Sans JP', sans-serif;
$Blue: rgb(54, 127, 187);
$bg : #ebf2f9;

//リセット用
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
}
body {
	overflow-x: hidden;
	background-color: #000;
	transition: .3s ease;
}
.text__fz {
	font-size: 18px;

	@include lpc {
		font-size: 16px;
	}
	@include pc {
		font-size: 14px;
	}
	@include tab {
		font-size: 12px;
	}
}

//top位置とborderをjsで制御
.header {
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 90vw;
	display: flex;
	justify-content: space-between;
	font-family: $EngFont;
	color: white;
	border: 1px solid grey;
	transition: .3s ease-out;
	z-index: 99;

	@include tab {
		flex-direction: column;
		justify-content: initial;
		top: -1px;
	}

	&__intro {
		position: relative;
		z-index: 100;
		letter-spacing: 5px;
		padding: 20px 0 20px 60px;

		@include pc {
			padding: 15px 0 15px 30px ;
		}
		@include sp {
			padding: 15px 0 15px 20px ;
		}

		&__title {
			font-size: 26px;
			line-height: 1.4;

			@include lpc {
				font-size: 18px;
			}
			@include pc {
				font-size: 14px;
			}
		}

		//jsでdispley:none制御
		&__subtitle {
			padding-top: 20px;
			font-size: 16px;
			line-height: 2;
			transition: .3s ease;

			@include lpc {
				font-size: 14px;
				padding-top: 10px;
			}
			@include pc {
				font-size: 10px;
				padding-top: 5px;
			}
		}
	}

	&__gnav {
		position: relative;
		z-index: 100;

		@include tab {
			display: none;
			opacity: 0;
			flex: 1;
			transition: .3s ease;
		}

		&__ul {
			display: flex;
			align-items: flex-end;
			height: 100%;

			@include tab {
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}

			&__item {
				position: relative;
				border-left: 1px solid grey;

				@include tab {
					border-left: initial;
					text-align: center;
				}
				
				&::after {
					content: "";
					position: absolute;
					bottom: -1px;
					left: 0;
					width: 0;
					height: 3px;
					background-color: white;
					transition: .3s ease;

					@include tab {
						display: none;
					}
				}

				&:hover::after {
					width: 100%;
				}

				& a {
					display: block;
					padding: 0 50px 20px;
					font-size: 16px;
					letter-spacing: 1px;	

					@include lpc {
						font-size: 14px;
						padding: 0 30px 10px;
					}		
					@include pc {
						font-size: 12px;
						padding: 0 15px 5px;
					}
					@include tab {
						font-size: 18px;
						padding: 15px 0;
					}
				}
			}
		}
	}

	&__spmenu {
		display: none;

		//top位置はjsでも制御
		@include tab {
			display: block;
			position: absolute;
			top: 22px;
			right: 10%;
			width: 50px;
			height: 50px;
			flex: 1;
			z-index: 102;
			transition: .3s ease-in-out;
		}

		& span {
			display: block;
			position: absolute;
			right: 10%;
			transform: translateY(-50%);
			width: 40px;
			height: 3px;
			background-color: white;
			
		}
		&__1 {
			top: calc(50% - 10px);
			transition: .3s ease;
		}
		&__2 {
			top: 50%;
		}
		&__3 {
			top: calc(50% + 10px);
			transition: .3s ease;
		}
	}

	&__bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 0%;
		background-color: #333;
		transition: .5s ease;
	}
}

//spmenuクリックでbodyにclass="open"付与
.open .header {
	width: 100vw;
	height: 100vh;
	padding: 0 5%;
	border: 1px solid #333;
	background-color: #333;
}

.open .header__intro {
	border-bottom: 1px solid grey;
}

.open .header__gnav {
	display: block;
	opacity: 1;
	overflow: hidden;
}

.open .header__spmenu {
	right: 15%;
	
	&__1 {
		transform: rotate(-45deg);
	}
	&__2 {
		visibility: hidden;
	}
	&__3 {
		transform: rotate(45deg);
	}
	&__1 , &__3{
		top: 50%;
	}
}

.cont {
	margin: -50px -10px 0 0;

	&__top {
		height: 100vh;
		display: flex;

		&__words {
			width: 40vw;
			padding: 50vh 0 0 5vw;
			font-family: $EngFont;
			color: white;

			@include sp {
				padding: 40vh 0 0 5vw;
			}

			&__catchphrase {
				font-size: 72px;
				letter-spacing: 5px;
				line-height: 1.7;
				white-space: nowrap;
				position: relative;
				z-index: 2;

				@include lpc {
					font-size: 52px;
				}	
				@include pc {
					font-size: 46px;
				}
				@include sp {
					font-size: 36px;
				}
				@include se {
					font-size: 28px;
				}

				& .return1 {
					display: none;

					@include sp {
						display: block;
					}
				}
				& .return2 {
					display: none;

					@include tab {
						display: block;
					}
				}
			}

			&__keywords {
				margin-top: 10vh;
				white-space: nowrap;

				@include tab {
					position: relative;
					z-index: 2;
				}

				
				&__title {
					font-size: 24px;
					letter-spacing: 5px;
					margin-bottom: 20px;

					@include lpc {
						font-size: 20px;
					}		
					@include pc {
						font-size: 18px;
						margin-bottom: 10px;
					}
				}

				&__list {
					letter-spacing: 2px;
					font-family: $JapFont;

					@include sp {
						padding-bottom: 10px;
					}
				}

			}
		}

		&__img {
			width: 60vw;
			height: 100vh;
			background: left / cover url(/dist/images/port_top.jpg);
		}

	}

	&__about {
		display: flex;
		align-items: flex-end;	
		padding: 10vh 0;

		@include pc {
			padding: 100px 0;
		}

		&__img {
			width: 40vw;
			padding-left: 10vw;
			text-align: right;

			@include pc {
				padding-left: 5vw;
			}
			@include tab {
				display: none;
			}

			& img {
				width: 30vw;

				@include pc {
					width: 100%;
				}
			}
		}
		
		&__box {
			width: 60vw;
			padding: 10px 10vw 10px 5vw;

			@include tab {
				width: 80vw;
				margin: 0 auto;
				padding: 0;
			}

			&__title {
				font-size: 42px;
				letter-spacing: 8px;
				font-family: $EngFont;

				@include lpc {
					font-size: 28px;
				}		
			}

			&__description {
				border-top: 1px solid #000;
				padding-top: 25px;
				margin-top: 25px;
				letter-spacing: 2px;
				line-height: 1.7;
				font-family: $JapFont;
			}
		}
	}

	&__skills {
		width: 100vw;
		padding: 10vh 10vw;
		color: white;

		@include pc {
			padding: 100px 10vw 0;
		}

		&__box {

			&__title {
				@extend .cont__about__box__title;
				padding-bottom: 25px;
				border-bottom: 1px solid white;
			}	
		}

		&__list {
			padding: 50px 0;
			display: flex;
			flex-wrap: wrap;

			&__item {
				width: 33.3%;
				padding-bottom: 50px;

				@include tab {
					width: 100%;
				}

				&__number {
					font-family: $EngFont;
					letter-spacing: 3px;
				}
				&__title {
					font-family: $EngFont;
					line-height: 2;
					letter-spacing: 2px;
					font-size: 36px;

					@include lpc {
						font-size: 28px;
					}
				}
				&__text {
					font-family: $JapFont;
					letter-spacing: 2px;
					word-break: break-all;
				}
				&:nth-child(2), &:nth-child(3), &:nth-child(5) {
					padding-left: 35px;

					@include tab {
						padding-left: 0;
					}
				}
			}
		}
	}

	&__portfolio {
		width: 100vw;
		margin: 0 auto;
		padding: 50px 10vw 0;

		&__box {
			margin: 50px 0 100px;
			transition: .3s ease;

			@include sp {
				box-shadow: initial;
				padding: 0;
				margin: 50px 0 30px;
			}

			&__title {
				@extend .cont__about__box__title;
			}
			&__description {
				@extend .cont__about__box__description;
			}
		}

		&__list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			&__item {
				width: 45%;
				text-align: center;
				letter-spacing: 2px;

				@include tab {
					width: 100%;
				}

				&__img {
					width: 100%;

					& img {
						width: 100%;
					}
				}

				&__title {
					font-size: 24px;
					line-height: 3;

					@include lpc {
						font-size: 20px;
					}
					@include pc {
						font-size: 16px;
					}
				}
			
				&__text {
					line-height: 1.7;
					word-break: break-all;

					@include lpc {
						text-align: left;
					}
				}

				&__date {
					font-size: 12px;
					text-align: right;
				}

				&__button {
					display: block;
					font-size: 24px;
					font-family: $EngFont;
					margin: 30px 0 100px;
					padding: 20px 25px;
					border: 1px solid white;
					transition: .3s ease;

					@include lpc {
						font-size: 20px;
						padding: 10px 15px;
					}

					&:hover {
						background-color: #fff;
						color: black;
					}
				}
			}
		}
	}

	&__contact {
		width: 100vw;
		color: white;
		padding: 20vh 10vw;
		word-break: break-all;

		@include sp {
			padding: 100px 10vw;
		}

		&__title {
			@extend .cont__about__box__title;
		}

		&__detail {
			@extend .cont__about__box__description;
			border-color: white;
		}
	}
}

.footer {
	color: white;
	text-align: center;
	font-family: $EngFont;
	letter-spacing: 3px;
	line-height: 2;

	@include sp {
		font-size: 10px;
		transform: scale(0.8);
	}
}