@charset "UTF-8";

// メディアクエリ用
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin Engfont() {
  font-family: "Arial", sans-serif;
}
@mixin Japfont() {
  font-family: 'Noto Sans JP', sans-serif;
}

//リセット用
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}

// indexページ用
.canvas-page {
  overflow: hidden;
}
.canvas {
  position: relative;
  width: 100%;
  height: 100vh;
}
.typing {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  @include Engfont();

  @include sp {
    top: 5%;
    font-size: 24px;
  }
}
.button-frame {
  width: 100%;
  position: absolute;
  bottom: 15%;
  text-align: center;

  .button {
    display: inline-block;
    margin: 0 auto;
    padding: 0 50px;
    color: rgb(20, 20, 20);
    font-size: 16px;
    line-height: 3;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    border-radius: 24px;
    opacity: 1;
    transition: 0.4s ease-out;
    cursor: pointer;
    outline: none;
    @include Engfont();

    &:hover {
      color: white;
      background-color: black;
    }
  }
}

// ここまでがindexページ

// ローディングバー用
.pace-running .wrap {
  display: none;
}
.wrap {
  margin-top: -24px;
}
.pace-done {
  overflow: hidden;
}
.pace {
  pointer-events: none;
  user-select: none;
  border-radius: 10px;
  background-clip: padding-box;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.pace .pace-progress {
  border-radius: 2px;
  background-clip: padding-box;
  transform: translate3d(0, 0, 0);

  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 100%;
  top: 7px;
  height: 2px;
  font-size: 12px;
  background: #000000;
  color: #000000;
  line-height: 60px;
  font-weight: bold;
  @include Engfont();
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  text-align: right;
  right: 0;
  padding-right: 16px;
  top: 4px;
}

.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 4px;
  z-index: 2001;
  border-radius: 10px;
}

.pace.pace-inactive {
  display: none;
}

// ここからinsideページ
.portfolio {
  background: white;
  overflow: hidden;
  opacity: 0;
  transition: all 3s;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;

  .gnav {
    width: 100%;

    ul {
      display: flex;
      justify-content: flex-end;
      padding-right: 10%;

      @include tab {
        justify-content: space-around;
        padding: 0 10%;
      }

      .list-item {
        font-size: 12px;
        letter-spacing: 3px;
        padding: 50px 20px 0;

        @include tab {
          padding: 30px 10px 0;
        }

        a {
          position: relative;
          display: inline-block;
          @include Engfont();

          &::after {
            position: absolute;
            content: "";
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgb(56, 56, 56);
            transform: scale(0, 1);
            transform-origin: left top;
            transition: transform 0.1s;
          }

          &:hover::after {
            transform: scale(1, 1);
          }
        }
      }
    }
  }
  .top-bblogo {
    display: inline;
    position: absolute;
    top: calc(50% - 65px);
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: black;  
  
    .logo {
      width: 10%;
  
      @include tab {
        width: 15%;
      }
  
      @include sp {
        width: 25%;
      }
    }
  
    .name {
      padding-top: 30px;
      font-size: 24px;
      letter-spacing: 3px;
      @include Engfont();
    }
  }
}

.profile {
  width: 100%;
}
.contents {
  padding: 50px 0;
  color: black;
  text-align: center;
  overflow: hidden;

  @include tab {
    padding: 30px 0;
  }
  @include sp {
    padding: 10px 0;
  }
  .title {
    font-size: 24px;
    letter-spacing: 3px;
    padding: 10px 10%;
    margin: 0;
    @include Engfont();

    @include tab {
      font-size: 20px;
    }
  }

  .text {
    display: inline-block;
    text-align: left;
    width: 500px;
    padding: 10px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
    word-wrap: break-word;
    @include Japfont();

    @include tab {
      font-size: 14px;
    }

    @include sp {
      width: 90%;
      font-size: 12px;
    }
  }
}

.work-item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto 0;
  letter-spacing: 2px;

  .work-item {
    margin-bottom: 30px;
    width: 48%;

    @include tab {
      width: 100%;
    }

    a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 280px;
      background-size: cover;
      background-position: center top;

      @include tab {
        height: 300px;
      }
      @include sp {
        height: 200px;
      }

      &::before, &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 280px;
        opacity: 0;
        transition: .3s;

        @include tab {
          height: 140px;
        }
      }
      
      &::before {
        content: 'Click to visit';
        padding-top: 135px;
        color: white;
        font-size: 24px;
        z-index: 99;
        @include Engfont();
        transform: translateY(20px);
      }

      &::after {
        content: '';
        background: rgba($color: #000000, $alpha: 0.5);
      }

      &:hover::after, &:hover::before {
        opacity: 1;
      }
      &:hover::before {
        transform: translateY(0);
      }
    }

    .wi4 {
      background-image: url(/dist/images/whitethings.jpg);
    }
    .wi3 {
      background-image: url(/dist/images/xxxcorporate1.jpg);
    }
    .wi2 {
      background-image: url(/dist/images/portfoliobb.jpg);
    }
    .wi1 {
      background-image: url(/dist/images/magazine1.jpg);
    }

    .work-item-title {
      @include Japfont();
      text-align: left;
      padding: 10px 0;

      @include tab {
        font-size: 14px;
      }
    }

    .work-item-text {
      text-align: left;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 2;
      @include Japfont();
    }

    .production-date {
      @include Japfont();
      text-align: right;
      opacity: 0.9;
      font-size: 10px;
    }
  }
}

.contact {
  padding-bottom: 50px;
}

.footer {
  position: relative;
  text-align: center;
  font-size: 12px;
  line-height: 3;
  letter-spacing: 1px;
  border-top: 1px solid rgb(228, 228, 228);

  @include sp {
    font-size: 10px;
  }

  .pagetop {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 20px;
    line-height: 1.5;
    border: 1px solid rgb(200, 200, 200);

    @include sp {
      right: 20px;
    }
  }
}
