@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  width: 100%;
  margin: 0;
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-selif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #d03c56;
  text-decoration: none;
}

/* ここからヘッダー */
.header {
  width: 100%;
  padding: 28px 0px 10px;
  text-align: center;
  box-shadow: 0 0 10px 1px #e3e3e3;
}
.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url("../images/logo.png");
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.global-nav {
  margin-top: 15px;
  text-align: center;
}
.global-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}
.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
}
.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
  background-color: #d03c56;
  color: #fff;
}
/* ここまでヘッダー */

/* 不要なタイトルを消す用 */
.hidden {
  display: none;
}
/* ここからメイン */
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 970px;
  margin: 30px auto 40px;
}
.main {
  display: block;
  width: 660px;
}
/* ここからホットトピック */
.hot-topic {
  display: flex;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}
.hot-topic:hover {
  opacity: 0.85;
}
.hot-topic .image {
  width: 50%;
  height: 100%;
}
.hot-topic .content {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 105px 25px 0;
  background-color: #ddd;
  line-height: 1.6;
}
.hot-topic .title {
  margin-bottom: 15px;
  color: black;
  font-weight: normal;
  font-size: 2rem;
}
.hot-topic .desc {
  color: black;
}
.hot-topic .date {
  position: absolute;
  top: 60px;
  left: 0;
  width: 140px;
  padding: 4px;
  background-color: #fff;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
}
/* ここまでがホットトピック */

/* ここからニュースリスト */
/* headingは他の部分と併用 */
.heading {
  padding: 5px 12px;
  background-color: rgb(194, 194, 194);
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.scroll-list {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 30px;
  list-style-type: none;
}
.scroll-list .scroll-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  color: black;
  font-size: 0;
  transition: opacity 0.1s;
}
.scroll-list .scroll-item:nth-of-type(even) a {
  background-color: #ddd;
}
.scroll-list .scroll-item a:hover {
  opacity: 0.8;
}
.scroll-list .date {
  display: inline-block;
  width: 14%;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1rem;
}
.scroll-list .category {
  display: inline-block;
  width: 8%;
  border-radius: 5px;
  background-color: #d03c56;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 16px;
}
.scroll-list .category.news {
  background-color: #2c3c53;
}
.scroll-list .title {
  display: inline-block;
  width: 78%;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
}
/* ここまでがニュースリスト */

/* ここから記事 */
.article-boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.article-box {
  position: relative;
  width: 315px;
  padding: 0 0 15px 0;
  margin-bottom: 30px;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}
.article-box:hover {
  opacity: 0.8;
}
.article-box .title {
  margin-top: 15px;
  padding-left: 5%;
  color: #555;
  font-size: 1.4rem;
  line-height: 1.6;
}
.article-box .desc {
  margin-top: 5px;
  padding-left: 5%;
  margin-bottom: 50px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-box .date {
  position: absolute;
  left: 0;
  bottom: 15px;
  display: block;
  width: 50%;
  padding: 4px;
  background-color: #b5d264;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
}
.article-box .image {
  width: 100%;
}
/* ここまでが記事 */
/* ここまでがメイン */

/* ここからサイドメニュー */
.sidemenu {
  width: 275px;
}
/* ここからランキング */
.ranking {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: ranking;
}
.ranking .ranking-item {
  margin-top: 15px;
}
.ranking .ranking-item a {
  display: flex;
  font-size: 0;
  transition: opacity 0.15s;
}
.ranking .ranking-item a:hover {
  opacity: 0.8;
}
.ranking .image {
  width: 55px;
  height: 55px;
}
.ranking .text {
  display: inline-block;
  width: 182px;
  color: black;
  vertical-align: top;
  font-size: 1.2rem;
  line-height: 1.5;
}
.ranking .order {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 15px 10px;
  border: 1px solid #ccc;
  color: #aaa;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  -webkit-trasform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
  border: none;
  color: #fff;
  font-weight: normal;
  line-height: 18px;
}
.ranking .ranking-item:nth-of-type(1) .order {
  background-color: #dab413;
}
.ranking .ranking-item:nth-of-type(2) .order {
  background-color: #6e7b84;
}
.ranking .ranking-item:nth-of-type(3) .order {
  background-color: #a0541a;
}
.ranking .order::before {
  content: counter(ranking);
  counter-increment: ranking;
  display: inline-block;
  font-size: 1rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* ここまでランキング */

/* ここからドキュメント */
.documents {
  margin: 10px 10px 30px;
}
.documents,
.documents ul {
  list-style-type: none;
}
.documents > li .title {
  margin: 15px 0;
  padding-left: 8px;
  border-left: 5px solid #d03c56;
  font-size: 1.4rem;
  line-height: 1.2;
}
.documents > li + li {
  margin-top: 25px;
}
.documents > li ul {
  margin: 15px;
}
.documents > li ul > li {
  margin-bottom: 15px;
  padding-left: 10px;
}
.documents a:hover {
  text-decoration: underline;
}
/* ここまでがドキュメント */

/* ここからは検索ボックス */
.search-box {
  padding: 15px;
  background-color: #ccc;
  font-size: 0;
}
.search-box > * {
  font-size: 1.2rem;
}
.search-box .search-input {
  width: 205px;
  height: 26px;
  padding: 0 10px;
  border: none;
}
.search-box .search-button {
  width: 40px;
  height: 26px;
  border: none;
  background-color: #d03c56;
  color: #fff;
  cursor: pointer;
}
.search-box .text {
  margin-top: 12px;
}
/* ここまでが検索ボックス */
/* ここまでがサイドバー */

/* ここからフッター */
.footer {
  width: 100%;
  padding: 20px 0;
  background-color: rgb(68, 68, 68);
  color: #fff;
}
.horizontal-list {
  width: 970px;
  margin: 0 auto;
  text-align: right;
  font-size: 0;
}
.horizontal-list .horizontal-item {
  display: inline-block;
  padding: 0 15px;
  letter-spacing: 1px;
}
.horizontal-list .horizontal-item + .horizontal-item {
  border-left: 1px solid #bbb;
}
.horizontal-list .horizontal-item a {
  border-bottom: 1px dashed #777;
  color: #bbb;
  font-size: 1.1rem;
  transition: color 0.15s;
}
.horizontal-list .horizontal-item a:hover {
  color: #ddd;
}
.copyright {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
}
/* ここまでフッター */

/* ここからはメディアクエリ */

@media screen and (max-width: 970px) {
  .global-nav .nav-item {
    margin: 0 4px;
  }
  .global-nav .nav-item a {
    width: 90px;
  }
  .wrapper {
    flex-direction: column;
    width: 660px;
  }
  .sidemenu {
    width: 660px;
  }
  .ranking {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .documents > li ul > li {
    border-bottom: 1px dashed #d03c56;
  }
  .search-box {
    text-align: center;
  }
  .search-box .search-input {
    width: 570px;
  }
  .horizontal-list {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 670px) {
  /* ここからハンバーガー */
  /* トグルstart */
  #nav-toggle {
    position: absolute;
    top: 20px;
    right: 25px;
    height: 32px;
    cursor: pointer;
  }
  #nav-toggle > div {
    position: relative;
    width: 36px;
  }
  #nav-toggle span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: #333;
    position: absolute;
    transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
    transition: transform 0.6s ease-in-out, top 0.5s ease, -webkit-transform 0.6s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 4px;
  }
  #nav-toggle span:nth-child(2) {
    top: 14px;
  }
  #nav-toggle span:nth-child(3) {
    top: 24px;
  }
  .open #nav-toggle span {
    background: #fff;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav-toggle {
    z-index: 1000;
  }
  /* トグルend */
  #global-nav {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }
  .global-nav .nav-item.active a,
  .global-nav .nav-item a:hover {
    background-color: #000;
    color: #fff;
  }
  #global-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 2rem;
    letter-spacing: 3px;
    padding: 20px 0;
    transition: color 0.6s ease;
  }
  #global-nav a:hover {
    color: #666;
  }
  #global-nav ul {
    list-style: none;
  }
  #global-nav ul li {
    opacity: 0;
    width: 310px;
    text-align: center;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    transition: opacity 0.2s ease, -webkit-transform 0.6s ease;
    transition: transform 0.6s ease, opacity 0.2s ease;
    transition: transform 0.6s ease, opacity 0.2s ease, -webkit-transform 0.6s ease;
  }
  #global-nav ul li:nth-child(2) {
    transition-delay: 0.15s;
  }
  #global-nav ul li:nth-child(3) {
    transition-delay: 0.3s;
  }
  #global-nav ul li:nth-child(4) {
    transition-delay: 0.45s;
  }
  #global-nav ul li:nth-child(5) {
    transition-delay: 0.6s;
  }
  #global-nav ul li:nth-child(6) {
    transition-delay: 0.75s;
  }

  /* open */
  .open {
    overflow: hidden;
  }
  .open #global-nav {
    visibility: visible;
    opacity: 1;
  }
  .open #global-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: opacity 0.9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity 0.9s ease;
    transition: transform 1s ease, opacity 0.9s ease, -webkit-transform 1s ease;
  }
  /* ここまでハンバーガー */
  .wrapper {
    width: 95%;
  }
  .main {
    width: 95%;
    margin: 0 auto;
  }
  .hot-topic {
    height: 150px;
    display: flex;
  }
  .hot-topic .image {
    width: 150px;
  }
  .hot-topic .content {
    flex: 1;
    padding: 50px 15px 0;
  }
  .hot-topic　title {
    font-size: 0.8rem;
  }
  .hot-topic .date {
    top: 20px;
  }
  .hot-topic .desc {
    display: none;
  }
  .main .heading {
    display: none;
  }
  .scroll-list {
    display: none;
  }
  .article-box {
    width: 47%;
  }
  .article-box .date {
    min-width: 100px;
  }
  .sidemenu {
    width: 95%;
    margin: 0 auto;
  }
  .ranking .ranking-item a {
    zoom: 70%;
  }
  .search-box .search-input {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 5px 60px 5px 0;
  }
  .hot-topic {
    height: 100px;
  }
  .hot-topic .image {
    width: 100px;
  }
  .hot-topic .content .title {
    font-size: 12px;
  }
  .ranking .ranking-item {
    width: 100%;
    padding-left: 5%;
  }
  .ranking .text {
    width: 70%;
  }
  /* .ranking .order {
        margin: 0 15px;
    } */
}
